/* 
Styles for Chatham's User Analytics Portal
Authored: @bwhitham, @sourdoughdetzel, Phillisk Johnson;
*/


@import url(http://fonts.googleapis.com/css?family=Marvel:400,700);
@import url(mixins.less);
@import url(colors-styles.less);


/*====================================================================== universals */

*, *:after, *:before { margin: 0; padding: 0; }

.clear { clear:both; }

::-webkit-selection {	background-color: @gray; color: @gray-lt; text-shadow: none;}
::-moz-selection {		background-color: @gray; color: @gray-lt; text-shadow: none;}
::selection { 			background-color: @gray; color: @gray-lt; text-shadow: none;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, i { display:block; }

a, a:focus, a:hover, a:active {
	outline: 0; 
	text-decoration: underline; 
	cursor: pointer;
	color: black
}

a {}

img { border: 0; -ms-interpolation-mode:bicubic; vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: none;
	*overflow: visible;
	cursor: pointer;
}

hr { border-top: black; border-bottom: none; }

input:focus {outline:0; border:0;}

/*====================================================================== forms */


/*====================================================================== typography */

html { 
	font-family: Marvel, "Helvetica Neue", sans-serif;
	font-weight: 400px;
	color: black;
	font-size: 					100%;
	-webkit-text-size-adjust: 	100%;
	-ms-text-size-adjust: 		100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: 	antialiased;
	-o-font-smoothing: 		antialiased;
	font-smoothing: 		antialiased;
	text-rendering: 		optimizeLegibility;
}

li {
	font-size: 25px;
}

a, a:visited { color: inherit; }

a.viewall { font-size: 20px; }

/*====================================================================== grid */

body {
	width: 1260px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	padding: 15px 0;
}

header.global {
	min-width: 100%;
	min-height: 50px;
	padding: 10px 0;
}

body,
.col2,
.col4,
.col8, { .boxsizing; }

section.content {
	min-width: 100%;
	min-height: 150px;
	margin: 0 0 20px 0;

	&[name="browser"] { background-color: @gray;}
}

.col2,
.col4,
.col8 { 
	float: left;
	margin: 0 0 0 20px;

	&:nth-child(1) { margin: 0 0 0 0;}
}

.col2 {	
	width: 620px; 

	.col2 { width: 290px; }
}

.col4 {	width: 300px; }
.col8 {	width: 140px; }

/*====================================================================== styling */

html {
	width: 100%;
	height: 100%;
	// background-color: @gray-lt;
	background-image: -webkit-radial-gradient(top left, cover, @gray-lt 60%, @gray-med);
	background-repeat: no-repeat;
	background-origin: fixed;
}

.col2,
.col4,
.col8 {

	&[name="aquatile"] { background-color:		@aqua; }
	&[name="yellowtile"] { background-color:	@yellow; }
	&[name="graytile"] { background-color:		@gray; }
	&[name="redtile"] { background-color:		@red; }
	&[name="greentile"] { background-color:		@green; }
	&[name="bluetile"]	{ background-color:		@blue; }
	&[name="whitetile"] { background-color:		white; }

	&[name="aquatile"],
	&[name="yellowtile"],
	&[name="graytile"],
	&[name="redtile"],
	&[name="greentile"],
	&[name="bluetile"],
	&[name="whitetile"] { 
		padding: 10px;
		color: white;
		position: relative;
		
		a.viewall { 
			float: right;
			margin: 10px 0 0 0;
		 }

		div.icon,
		div.icondark,
		label {
			float: left;
			font-size: 40px;
			margin: 0 10px 0 0;
		}

		h2.visits {
			display: block;
			float: right;
			font-size: 20px;
			line-height: 20px;
			margin: 5px 0 0 0;
			
			span { font-size: 40px; }
		}

		ul {
			list-style: none;

			li {
				background-color: @white10;
				padding: 10px;
				margin: 10px 0 0 0;
				position: relative;

				span.amountvisits,
				span.amountclicks { 
					float: right; 
					text-align: right;
					min-width: 15px;
					display: block;
				}

				a {
					text-decoration: none;
					display: block;
					min-width: 100%;
					min-height: 100%;

					&:hover {
						background-color: @gray-med;
					}
				}
			}

			a {
				display: block;
				padding: 10px;
				margin: 10px 0 0 0;
				position: relative;
				width: 100%;
				background-color: @gray-lt;
				font-size: 25px;
				text-decoration: none;
				.boxsizing();
				.transition(all);
				color: @aqua;

				&:hover {
					color: white;
					background-color: @gray-med;
				}
			}
		}
	}

	&[name="whitetile"] { 
		color: @gray;	
		
		ul {
			li { background-color: @gray-lt; }
		}

		a.viewall { color: @aqua; }
	}

}

/*====================================================================== header */

header.global {
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
	z-index: 1000;
}

nav.global {
	position: relative;
	width: inherit;
	height: 50px;

	a, 
	menu.view {
		float:left;
		height: 100%;
		display: block; 
		font-size: 40px;
		text-align: center;
		color: white;
		text-decoration: none;
		background-color: @gray;
		.transition(all);

		&:hover { 
			color: @gray;
			background-color: @gray-med; 
		}
	}

	menu.view {
		margin: 0 0 0 20px;
		padding: 0 20px;
		position: relative;
		cursor: pointer;

		label {
			float: left;
			display: block;
			cursor: pointer;

			&.range { margin: 0 0 0 7px; }
		}

		ul {
			display: none;
			list-style: none;
			position: absolute;
			top: 50px;
			right: 0;
			text-align: right;
			background-color: @gray-med;
			width: 100%;

			li {
				font-size: 40px;
				padding: 10px 20px;
				.transition(all);
				color: @gray;

				&:hover {  
					color: @gray-lt;
					background-color: @gray;
				}
			}
		}

		&:hover > ul { display: block; }
	}

	div.menu {

		border: 1px solid black;
		width: 100px;

		div.button { 
			display: block;
			width: 50px;
			height: 50px;
			background-color: black;
			cursor: pointer;
		}

		ul { 
			display: none; 
			list-style: none; 
			position: absolute;
			top: 35px;
			left: 0;
		}

		&:hover > ul { display: block; }

	}
}

header.chathambar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  background-color: rgba(75, 146, 194, 1.0);
  /*.boxshadow(0 1px 1px @gray-lt);*/
}

header.chathambar .orange,
header.chathambar .gray {
  width: 15%;
  height: inherit;
  float: right;
} 

header.chathambar .orange { background-color: rgba(234, 114, 36, 1.0); }
header.chathambar .gray { background-color: rgba(169, 170, 174, 1.0); }

/*====================================================================== icons */

div.icon,
div.icondark {
	.boxsizing();
	width: 52px;
	height: 52px;
	// .borderradius(50%);
	border: 2px solid @white20;
	// background-color: @gray-med;
	padding: 8px 0 0 0;
}
	
div.icondark { border-color: @gray-med; }

i {
	width: 32px;
	height: 32px;
	margin: 0 auto;

	&[name="browser-safari"] {		.sprite(0 0); }
	&[name="browser-safarirev"] {	.sprite(0 -32px); }

	&[name="browser-chrome"] {		.sprite(-32px 0); }
	&[name="browser-chromerev"] {	.sprite(-32px -32px); }

	&[name="browser-ie"] {			.sprite(-64px 0); }
	&[name="browser-ierev"] {		.sprite(-64px -32px); }
	
	&[name="browser-ff"] {			.sprite(-96px 0); }
	&[name="browser-ffrev"] {		.sprite(-96px -32px); }
	
	&[name="screenres"] {			.sprite(-128px 0); }
	&[name="screenresrev"] {		.sprite(-128px -32px); }

	&[name="device"] {				.sprite(-160px 0); }
	&[name="devicerev"] {			.sprite(-160px -32px); }

	&[name="pages"] {				.sprite(-192px 0); }
	&[name="pagesrev"] {			.sprite(-192px -32px); }

	&[name="clicks"] {				.sprite(-224px 0); }
	&[name="clicksrev"] {			.sprite(-224px -32px); }

}










